      <div class="_container">
        <div class="row">

          <div class="col-md-3 col-sm-6">
            <div class="dashboard_trailer border-1">
              <h3>CURRENT BALANCE</h3>

              <div class="content_dash_value">
                <div class="icon_images">
                  <i class="fas fa-lightbulb"></i>
                </div>
                <div class="price_value">
                  <p>USD</p>
                  <h5>7.644</h5>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3 col-sm-6">
            <div class="dashboard_trailer border-2">
              <h3>WEEKLY SALES</h3>

              <div class="content_dash_value">
                <div class="icon_images bg_2">
                  <i class="fas fa-database"></i>
                </div>
                <div class="price_value">
                  <p>USD</p>
                  <h5>7.644</h5>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3 col-sm-6">
            <div class="dashboard_trailer border-3">
              <h3>BIGEST PURCHASE</h3>
              <div class="content_dash_value">
                <div class="icon_images bg_3">
                  <i class="fas fa-desktop"></i>
                </div>
                <div class="price_value">
                  <p>USD</p>
                  <h5>7.644</h5>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3 col-sm-6">
            <div class="dashboard_trailer border-4">
              <h3>AVERAGE MONTHLY</h3>
              <div class="content_dash_value">
                <div class="icon_images bg_4">
                  <i class="fas fa-chart-bar"></i>
                </div>
                <div class="price_value">
                  <p>USD</p>
                  <h5>7.644</h5>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="content_maps_dashboard no_margin_hor">
  				      <tb-country-map [map]="this"></tb-country-map>
                <tb-map-infor [map]="this"></tb-map-infor>
                <!-- <tb-draw-tool [map]='this'></tb-draw-tool> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="content_chart_dashboard">
              <div class="col_chart">
                <h6 class="lh-1">Chart collum</h6>

                <hr>
              </div>
              <div class="chart_images">
                <img src="assets/images/chart_col.png" />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content_chart_dashboard">
              <div class="circle_chart">
                <h6 class="lh-1">Circle_chart collum</h6>
                <hr>
              </div>
              <div class="chart_images">
                <img src="assets/images/circle_chart.png" />
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="content_chart_dashboard">
              <div class="col_chart">
                <h6 class="lh-1">Chart collum</h6>
                <hr>
              </div>
              <div class="chart_images">
                <img src="assets/images/chart_col.png" />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content_chart_dashboard">
              <div class="circle_chart">
                <h6 class="lh-1">Circle_chart collum</h6>
                <hr>
              </div>
              <div class="chart_images">
                <img src="assets/images/chart_col.png" />
              </div>
            </div>
          </div>

        </div>


      </div>