.path{
	opacity: 1;
	cursor: pointer;
	stroke-opacity: 1;
	stroke-linejoin: round;
	fill-opacity: 1;
	/*stroke: #ffffff;*/
	stroke-width: 1.8900000000000003;
	transform: matrix(0.4041,0,0,0.4041,0,0);
}