

<div style='width: 100%'>
<mat-tab-group >
  <mat-tab label="Big5 Options">
  	<div class="section">
				<div class='group'>
					<mat-checkbox (change)='OChange()' class="example-margin" [(ngModel)]="O">Openness</mat-checkbox>
					<mat-radio-group *ngIf='O' [(ngModel)]="OLevel">
						<mat-radio-button class="radio-button" [value]="'High'">High</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Average'">Average</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Low'">Low</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="group">
					<mat-checkbox (change)='CChange()' class="example-margin" [(ngModel)]="C">Conscientiousness</mat-checkbox>
					<mat-radio-group *ngIf='C' [(ngModel)]="CLevel">
						<mat-radio-button class="radio-button" [value]="'High'">High</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Average'">Average</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Low'">Low</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="group">
					<mat-checkbox (change)='EChange()' class="example-margin" [(ngModel)]="E">Extraversion</mat-checkbox>
					<mat-radio-group *ngIf='E' [(ngModel)]="ELevel">
						<mat-radio-button class="radio-button" [value]="'High'">High</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Average'">Average</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Low'">Low</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="group">
					<mat-checkbox (change)='AChange()' class="example-margin" [(ngModel)]="A">Agreeableness</mat-checkbox>
					<mat-radio-group *ngIf='A' [(ngModel)]="ALevel">
						<mat-radio-button class="radio-button" [value]="'High'">High</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Average'">Average</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Low'">Low</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="group">
					<mat-checkbox (change)='NChange()' class="example-margin" [(ngModel)]="N">Neuroticism</mat-checkbox>
					<mat-radio-group *ngIf='N' [(ngModel)]="NLevel">
						<mat-radio-button class="radio-button" [value]="'High'">High</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Average'">Average</mat-radio-button>
						<mat-radio-button class="radio-button" [value]="'Low'">Low</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
  </mat-tab>
  <mat-tab label="Advance Options">Content 2</mat-tab>
  <mat-tab label="Sliders">Content 3</mat-tab>
</mat-tab-group>
			
</div>
