.section {
  display: block;
  align-content: center;
  align-items: center;
}
.radio-button{
	margin-left: 5px; 
}
.radio-group{
	float: right;
}
.btn{
  min-width:1px;
  padding-left:5px;
  padding-right:5px;
  background-color:#A38FC5;
  line-height:26px;
}
table{
  table-layout: fixed;
  width: 100%;
}
tr{

}
.howDetail{
  float: right;
}