.section {
  display: block;
  align-content: center;
  align-items: center;
}
h3{
	color: #123123;
	margin: 15px;
}
.example-margin {
  margin: 0 10px;
  clear:left;
}
.radio-button{
	margin-left: 5px; 
}
.radio-group{
	float: right;
}
.group{
  margin-bottom: 10px;
}
