<svg width='500' height='350'>
	<!-- <rect x="0" y="0" width="500" height="350" fill="#ADDCEC" /> -->
	<rect x="80" attr.y="{{320-big5.O*2.8}}" width="40" attr.height="{{big5.O*2.8}}" fill="#5393AE" />
	<rect x="155" attr.y="{{320-big5.C*2.8}}" width="40" attr.height="{{big5.C*2.8}}" fill="#DF786F" />
	<rect x="230" attr.y="{{320-big5.E*2.8}}" width="40" attr.height="{{big5.E*2.8}}" fill="#CAD35C" />
	<rect x="305" attr.y="{{320-big5.A*2.8}}" width="40" attr.height="{{big5.A*2.8}}" fill="#52CD9F" />
	<rect x="380" attr.y="{{320-big5.N*2.8}}" width="40" attr.height="{{big5.N*2.8}}" fill="#6D79AD" />

	<text attr.x="{{80+xposition(leveling(big5.O))}}" attr.y="{{320-big5.O*2.8-5}}" font-family="Verdana" font-size="10" font-weight='normal'>{{leveling(big5.O)}}</text>
	<text attr.x="{{155+xposition(leveling(big5.C))}}" attr.y="{{320-big5.C*2.8-5}}" font-family="Verdana" font-size="10" font-weight='normal'>{{leveling(big5.C)}}</text>
	<text attr.x="{{230+xposition(leveling(big5.E))}}" attr.y="{{320-big5.E*2.8-5}}" font-family="Verdana" font-size="10" font-weight='normal'>{{leveling(big5.E)}}</text>
	<text attr.x="{{305+xposition(leveling(big5.A))}}" attr.y="{{320-big5.A*2.8-5}}" font-family="Verdana" font-size="10" font-weight='normal'>{{leveling(big5.A)}}</text>
	<text attr.x="{{380+xposition(leveling(big5.N))}}" attr.y="{{320-big5.N*2.8-5}}" font-family="Verdana" font-size="10" font-weight='normal'>{{leveling(big5.N)}}</text>
	
	<polyline fill='none' stroke='#030304' stroke-width='2' points='64,20 64,328 436,328' />
	<text x="52" y="15" font-family="Verdana" font-size="10" font-weight='normal'>100%</text>
	<text x="400" y="343" font-family="Verdana" font-size="10" font-weight='normal'>Traits</text>


</svg>