
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-md-offset-3 col-sm-7 col-xs-9 clearfix">
                <form class="m-header-search__form">
                    <div class="m-header-search__wrapper">
                        <span class="m-header-search__icon-search" >
                            <i class="fas fa-search"></i>
                        </span>
                        <span class="m-header-search__input-wrapper">
                            <input autocomplete="off" type="text"  class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
                        </span>
                    </div>
                </form>
            </div>

            <div class="col-sm-2 col-xs-3">
                <div class="user-area dropdown float-right">
                    <span>ad mìn</span>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="assets/images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#">
                            <i class="fa fa- user"></i>My Profile</a>
                        <a class="nav-link" href="#">
                            <i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <tb-user-dashboard *ngIf='false' ></tb-user-dashboard>
    <tb-map *ngIf='true' ></tb-map>