<!-- content -->
<section class="main_content">

  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#home">Your Big 5</a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu1">Your Big 5 Insight</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="user_dash">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 chart_detail">
              <div class="dashboard_trailer">
                <div class="col-xs-12 title_grid text-center">
                  <h3>The degree of your big five</h3>
                  <hr>
                </div>
                <tb-user-chart></tb-user-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="five_col">

        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="dashboard_trailer">
                <div class="row">
                  <div class="col-xs-12 title_grid text-center">
                    <h3>The facets of your big five</h3>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-15 col-md-3 col-sm-4 col-xs-12">
                    <div class="col-value-slider border-orag">
                      <div class="title_five">
                        <h3>Openness to Experience</h3>
                      </div>
                      <div class="price-box col_slider_1">
                        <span class="test_text">Numberofcontacts_call: </span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider"></div>
                          <input type="hidden" id="amount" class="form-control">

                        </form>
                      </div>
    
                      <div class="price-box col_slider_1">
                        <span class="test_text">Interevents_call_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider11"></div>
                          <input type="hidden" id="amount11" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_1">
                        <span class="test_text">Interevents_text_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider12"></div>
                          <input type="hidden" id="amount12" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_1">
                        <span class="test_text">Daily_distance_traveled:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider13"></div>
                          <input type="hidden" id="amount13" class="form-control">
                        </form>
                      </div>

                       <div class="price-box col_slider_1">
                        <span class="test_text">Numberofplaces_all:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider14"></div>
                          <input type="hidden" id="amount14" class="form-control">
                        </form>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-15 col-md-3 col-sm-4 col-xs-12">
                    <div class="col-value-slider border-3">
                      <div class="title_five">
                        <h3>Conscientiousness</h3>
                      </div>
                      <div class="price-box col_slider_2">
                        <span class="test_text">Numberofplaces_all:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider1_1"></div>
                          <input type="hidden" id="amount1_1" class="form-control">
                        </form>
                      </div>
                      <div class="price-box col_slider_2">
                        <span class="test_text">Interevents_call_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider1_11"></div>
                          <input type="hidden" id="amount1_11" class="form-control">
                        </form>
                      </div>

                       <div class="price-box col_slider_2">
                        <span class="test_text">Interevents_text_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider1_12"></div>
                          <input type="hidden" id="amount1_12" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_2">
                        <span class="test_text">Interactions_text_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider1_13"></div>
                          <input type="hidden" id="amount1_13" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_2">
                        <span class="test_text">Numberofcontacts_text:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider1_14"></div>
                          <input type="hidden" id="amount1_14" class="form-control">
                        </form>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-15 col-md-3 col-sm-4 col-xs-12">
                    <div class="col-value-slider border-4">
                      <div class="title_five">
                        <h3>Extraversion</h3>
                      </div>
                      <div class="price-box col_slider_3">
                        <span class="test_text">Daily_distance_traveled:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_2"></div>
                          <input type="hidden" id="amount_2" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_3">
                        <span class="test_text">Interactions_call_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_21"></div>
                          <input type="hidden" id="amount_21" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_3">
                        <span class="test_text">Percentathome_all:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_22"></div>
                          <input type="hidden" id="amount_22" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_3">
                        <span class="test_text">Interactions_text_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_23"></div>
                          <input type="hidden" id="amount_23" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_3">
                        <span class="test_text">Numberofcontacts_text:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_24"></div>
                          <input type="hidden" id="amount_24" class="form-control">

                        </form>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-15 col-md-3 col-sm-4 col-xs-12">
                    <div class="col-value-slider border-pink">
                      <div class="title_five">
                        <h3>Agreeableness</h3>
                      </div>
                      <div class="price-box col_slider_4">
                        <span class="test_text">Percentathome_all:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_3"></div>
                          <input type="hidden" id="amount_3" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_4">
                        <span class="test_text">Daily_distance_traveled:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_31"></div>
                          <input type="hidden" id="amount_31" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_4">
                        <span class="test_text">Numberofinteractions_call:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_32"></div>
                          <input type="hidden" id="amount_32" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_4">
                        <span class="test_text">Responseratetext_all:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_33"></div>
                          <input type="hidden" id="amount_33" class="form-control">
                        </form>
                      </div>

                      <div class="price-box col_slider_4">
                        <span class="test_text">Numberofplaces_all:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_34"></div>
                          <input type="hidden" id="amount_34" class="form-control">
                        </form>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-15 col-md-3 col-sm-4 col-xs-12">
                    <div class="col-value-slider border-2">
                      <div class="title_five">
                        <h3>Neuroticism</h3>
                      </div>
                      <div class="price-box col_slider_5">
                        <span class="test_text">Daily_distance_traveled:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_4"></div>
                          <input type="hidden" id="amount_4" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_5">
                        <span class="test_text">Interevents_call_mean:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_41"></div>
                          <input type="hidden" id="amount_41" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_5">
                        <span class="test_text">Numberofplaces_all:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_42"></div>
                          <input type="hidden" id="amount_42" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_5">
                        <span class="test_text">Percentnocturnal_call:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_43"></div>
                          <input type="hidden" id="amount_43" class="form-control">

                        </form>
                      </div>

                      <div class="price-box col_slider_5">
                        <span class="test_text">Numberofinteractions_call:</span>
                        <form class="form-horizontal form-pricing" role="form">
                          <div id="slider_44"></div>
                          <input type="hidden" id="amount_44" class="form-control">

                        </form>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="container">
        <div class="row">
            <div class="square"><h1>YOUR BIGFIVE DETAIL RESULT ANALYSIS</h1></div>
            <div class="square1"><h3>Openness</h3></div>
            <div class="square11"><h4>Openness describes a person’s tendency to think in abstract, complex ways. High scorers tend to be creative, adventurous, and intellectual. They enjoy playing with ideas and discovering novel experiences. Low scorers tend to be practical, conventional, and focused on the concrete. They tend to avoid the unknown and follow traditional ways.<br> Openness is strongly related to a person’s interest in art and culture. People who are high in openness tend to enjoy the arts and seek out unusual, complex forms of self-expression. People who are low in openness are often suspicious of the arts and prefer to focus on more practical pursuits. <br> Your score for openness was LOW.<br>Because you are low in Openness, you probably think of yourself as a practical, down-to-earth person. You appreciate tradition and may think of yourself as conventional. You are most comfortable in familiar surroundings and may not like to try new things.</h4></div>
            <div class="square2"><h3>Conscientiousness</h3></div>
            <div class="square22"><h4>Conscientiousness describes a person’s ability to exercise self-discipline and control in order to pursue their goals. High scorers are organized and determined, and are able to forego immediate gratification for the sake of long-term achievement. Low scorers are impulsive and easily sidetracked.<br>The concept of Conscientiousness focuses on a dilemma we all face: shall I do what feels good now, or instead do what is less fun but will pay off in the future? Some people are more likely to choose fun in the moment, and thus are low in Conscientiousness. Others are more likely to work doggedly toward their goals, and thus are high in this trait.<br>Your score for Conscientiousness was HIGHT.<br>Because you are high in Conscientiousness, you are probably orderly and organized. You probably consider yourself very reliable and responsible. You do not mind hard work and are persistent in pursuing your goals.</h4></div>
            <div class="square3"><h3>Extraversion</h3></div>
            <div class="square33"><h4>Extraversion describes a person’s inclination to seek stimulation from the outside world, especially in the form of attention from other people. Extraverts engage actively with others to earn friendship, admiration, power, status, excitement, and romance. Introverts, on the other hand, conserve their energy, and do not work as hard to earn these social rewards.<br>In contrast, introverts do not experience as much of a “high” from social achievements. Thus, they don’t make as much effort to seek them out. Introverts tend to be more content with simple, quiet lives, and rarely seek attention from others.<br>Your score for Extraversion was HIGHT.<br>Because you are high in Extraversion, you probably appear to be friendly and gregarious to other people. You show enthusiasm easily and are generally energetic. You are interested in having adventures and achieving many things in your life.</h4></div>
            <div class="square4"><h3>Agreeableness</h3></div>
            <div class="square44"><h4>Agreeableness describes a person’s tendency to put others’ needs ahead of their own, and to cooperate rather than compete with others. People who are high in Agreeableness experience a great deal of empathy and tend to get pleasure out of serving and taking care of others. They are usually trusting and forgiving.<br>People who are low in Agreeableness tend to experience less empathy and put their own concerns ahead of others. Low scorers are often described as hostile, competitive, and antagonistic. They tend to have more conflictual relationships and often fall out with people.<br>Your score for Agreeableness was MODERATE.<br>Your moderate score in Agreeableness indicates that you are fairly typical in the degree to which you balance your own interests with the interests of others. You are probably willing to sacrifice yourself for others some of the time, but you also watch out for yourself quite a bit.</h4></div>
            <div class="square5"><h3>Neuroticism</h3></div>
            <div class="square55"><h4>This trait can be thought of as an alarm system. People experience negative emotions as a sign that something is wrong in the world. You may be in danger, so you feel fear. Or you may have done something morally wrong, so you feel guilty. However, not everyone has the same reaction to a given situation. High Neuroticism scorers are more likely to react to a situation with fear, anger, sadness, and the like. Low Neuroticism scorers are more likely to brush off their misfortune and move on.<br>Your score for Neuroticism was MODERATE.<br>Your score indicates that you are fairly typical in your tendency to experience negative emotions. You probably feel sadness, worry, anger, and guilt about as much as the average person. You are neither overly reactive, nor especially resistant to the stresses of life.</h4></div>
            
        </div>
      </div>


    </div>
  </div>

</section>