.square {
        position: absolute;
    	left: 400px;
    	top: 220px;
		width: 100px;
		width: 600px;
		height: 100px;
		background: #000000;
		text-align: center;
		padding: 30px;
		color: #fff;
		}
.square1 {
        position: absolute;
    	left: 100px;
    	top: 370px;
    	width: 200px;
		width: 800px;
		height: 50px;
		background: #5393AE;
		text-align: center ;
		padding: 15px;
		color: #fff;	
		}
.square11 {
        position: absolute;
    	left: 100px;
    	top: 420px;
    	width: 200px;
		width: 800px;
		height: 200px;
		background: #aaffff;
		text-align: left; ;
		padding: 15px;
		color: #000000;	
		}
.square2 {
		position: absolute;
    	left: 500px;
    	top: 670px;
		width: 200px;
        width: 800px;
		height: 50px;
		background: #DF786F;
		text-align: center;
		padding: 15px;
		color: #fff;
		}
.square22 {
		position: absolute;
    	left: 500px;
    	top: 720px;
		width: 200px;
        width: 800px;
		height: 200px;
		background: #ffd8d8;
		text-align: left;
		padding: 15px;
		color: #000000;
		}
.square3 {
        position: absolute;
    	left: 100px;
    	top: 970px;
		width: 200px;
		width: 800px;
		height: 50px;
		background: #CAD35C;
		text-align: center;
		padding: 15px;
		color: #fff;
		}
.square33 {
        position: absolute;
    	left: 100px;
    	top: 1020px;
		width: 200px;
		width: 800px;
		height: 200px;
		background: #ffffaa;
		text-align: left;
		padding: 15px;
		color: #000000;
		}
.square4 {
        position: absolute;
    	left: 500px;
    	top: 1270px;
		width: 200px;
		width: 800px;
		height: 50px;
		background: #52CD9F;
		text-align: center;
		padding: 15px;
		color: #fff;
		}
.square44 {
        position: absolute;
    	left: 500px;
    	top: 1320px;
		width: 200px;
		width: 800px;
		height: 200px;
		background: #aaffff;
		text-align: left;
		padding: 15px;
		color: #000000;
		}
.square5 {
        position: absolute;
    	left: 100px;
    	top: 1570px;
		width: 200px;
		width: 800px;
		height: 50px;
		background: #6D79AD;
		text-align: center;
		padding: 15px;
		color: #fff;
		}
.square55 {
        position: absolute;
    	left: 100px;
    	top: 1620px;
		width: 200px;
		width: 800px;
		height: 200px;
		background: #aaaaff;
		text-align: left;
		padding: 15px;
		color: #000000;
		}

